<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>FWEB.CC</title>
<link rel="Shortcut Icon" href="../static/img/favicon.ico" type="image/x-icon" />
<meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
<meta name="keywords" content="vip" />
  <script type="text/javascript" src="../static/js/jquery-3.7.1.min.js"></script> 
  <script src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
   <script src="../static/js/md5.js"></script>
 
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css"/> 

  <body>
<div class="container">
<div class="card bg-light">
  <div class="card-body">
   <div id="tmall_info"> </div>
 </div> </div>
<script>
js_object = {{url_add|safe }}
tmall_page()
function tmall_page(){
 if (js_object.info=='y'){
   tval='<p class="text-primary">设备名称:'+js_object.val.title+'</p>'+
        '<p>设备状态:'+js_object.val.stat+'</p><hr>'+
        '<p class="text-danger">您可以对天猫精灵说<hr>"打开'+
              js_object.val.title+js_object.Name+'"<hr>"关闭'+
              js_object.val.title+js_object.Name+'"</p>'+
        '<p></p>'
    }else{
     tval='验证失败'
    }
   $("#tmall_info").html(tval)
}

</script>